@import 'zapatillas';



*{

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
@font-face {
    font-family:japanola;
    src: url(../resorces/typo/Japanola.otf);
}
body{
    background-color: black;
}
//ESTILOS DEL NAV
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 101%;
    background-color: black;

    .div-item{
        .nav-item{
            color: white;
            transition: .5s;
            text-align: center;   
        }
        .nav-item:hover{
            color: red;   
        }
    }

    .logo{
        font-family: japanola;
        color: red;
        font-size: 4.3em;
        text-align: center;
       }

        
}
    

//estilos del footer

footer{
    background-color: black;
    height: 15%;

    .logos-container{
        display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    }
    .iconos{
        height: 48px;
    width: 48px;
    
    }
}
    main{
        .titulo{
            margin-top: 4%;
            text-align: center;
            color: red;
        }
         .about1{
            .img-about-container{
                margin-bottom: 5%;


                .img-about{
                    width: 100%;
                    height: 100%;
                    margin-right: auto;  
                    
                }
            }
            .texto-about{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin: auto;
                color: white;
                font-size: 1.5rem;
            }
        }
    }
    
//estilos rpeguntas frecuentes

.titulo-preguntas{
    color: red;
    text-align: center;
}
.accordion{
    padding: 1%;
    margin-bottom: 3%;
    
}
.accordion-item{
    margin-bottom: 1% !important;
    border: 2px solid black !important;
}


//estilos contacto
.row-contacto{
    padding: 3%;

    .form-container{
        form{
            background-color: red;
       height: 100%;
       width: 95%;
       padding: 5%;
       border: 2px solid black;

       .titulo-contacto{
        text-align: center;
    }

       input{
        width: 100%;
        height: 10%;
        margin-bottom: 5%;
       }
        }

        
    }

    .titulo-mapa{
        text-align: center;
        color: red;
    }
    .mapa{
        width: 100%;
        height: 85%;
        border: 2px solid black !important;
    }

    .cliente-container{
        .titulo-cliente{
            text-align: center;
            color: red;
        }
        h4{
            color: white;
            font-size: 2rem;
            margin-bottom: 2rem;
            text-align: center;
        }
    }
    .redes-container{
        color: red;
        .titulo-redes{
        text-align: center;
     }
     .logos-container{
        text-align: center;
        .iconos{
            width: 3rem !important;
            height: 3rem !important;
        }
     }

    }
}

//estilos zapatillas
.body-zapatillas{
    background-color: black;
    color: white;
}
.selector-zapatillas{
    text-align: center;
    background-color: grey;
    height: 100%;
    font-size: 2em;
    border: 1px solid black;

     a{
        color: black;
        transition: .5s;
    }
}


.seccion-productos{
    padding: 4rem 0 3rem;
    .seccion-productos-titulo{
        font-style: 1.5rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .productos{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,auto));
        gap: 1.5rem;
    
        .producto{
            position: relative;
            transition: .2s ease-in-out;
            .producto-img{
                width: 100%;
                aspect-ratio: 1/1;
                margin-bottom: .5rem;
                
            }
            
        }
    }
}

.container{
    max-width: 1500px;
    margin: auto;
    width: 100%;
}
.producto:hover{
    padding: 10px;
    border: 2px solid red;
}
    
//MEDIAS
@media (max-width:767px){
    .logo{
        text-align: left;
    }
    .nav-item{
        text-align: left;
    }
}
